@import "colors";

.contFigures{
    width: 100%;
    //height: 300px;
    padding: 10px;
    background: $color-primario;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.5s all;

    &.contFigures_JS{
        background: white;
        .contFigures_box1{
            .baseFigura{
                .contFigures_box1_img{
                    box-shadow: 0px 0px 20px rgb(32, 32, 32) ;
                    border:none;
                }
                .contFigures_box1_name{
                    color: orange;
                }
            }
        }
        .contFigures_box2{
            
            .content_box2_card{    //esta es la base template
               
            }
            .contFigures_box2_card{
                 background: rgb(20, 18, 54);
                .contFigures_box2_card_img{
                   
                }
                .contFigures_box2_card_name{
                   
                }
            }
            .contFigures_box2_card:hover{
                  background: rgb(31, 31, 31);
                  box-shadow: 0px 0px 10px black;
            }
        }
    }


    .contFigures_box1{
        width: 300px;
        height: 400px;
        padding: 10px;
        //background: rgba(255, 0, 255, 0.233);
        .baseFigura{
            width: 100%;
            //background: greenyellow;
            padding: 5px;
            .contFigures_box1_img{
                width: 100%;
                height: 100%;
                //background: orange;
                border-radius: 10px;
                box-shadow: 0px 0px 20px orange ;
                border:3px solid orange;
                overflow: hidden;
            }
            .contFigures_box1_name{
                margin-top: 20px;
                text-align: center;
                color: rgb(7, 224, 7);
                font-weight: bold;
                line-height: 28px;

            }
        }

        .baseTitle{
            margin-top: 5px;
            color: orange;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
        }

        .baseDowloads{
            width: 100%;
            padding: 5px 0px;
            //background: grey;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .btnDescMedia{
              width: 80px;
              height: 30px;
              background-image: url(../images/mediafire.png);
              background-size: 100% 100%;
            }
            .btnDescMega{
              width: 80px;
              height: 30px;
              background-image: url(../images/mega.png);
              background-size: 100% 100%;            
            }
        }   
    }

    .contFigures_box2{
        width: 72%;
        padding: 10px;
        //height: 100px;
        //background: rgba(37, 80, 150, 0.301);
        .content_box2_card{    //esta es la base template
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .contFigures_box2_card{
            width: 180px;
            height: 250px;
            background: rgba(9, 8, 54, 0.671);
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 10px;
            transition: 0.3s all;
            .contFigures_box2_card_img{
                width: 100%;
                height: 210px;
                //background: hotpink;
            }
            .contFigures_box2_card_name{
                margin-top: 10px;
                text-align: center;
                font-weight: 400;
                font-size: 18px;
                color: rgb(7, 224, 7);
            }
        }
        .contFigures_box2_card:hover{
            transform: scale(1.05,1.05);
            box-shadow: 0px 0px 10px orange;
            
        }
    }
}









@media (min-width:1025px) and (max-width:1200px) {
    .contFigures{
        width: 100%;
        //height: 300px;
        padding: 10px;
        background: $color-primario;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        transition: 0.5s all;
    
        .contFigures_box1{
            width: 320px;
            height: auto;
            padding: 10px;
            //background: rgba(255, 0, 255, 0.233);
            .baseFigura{
                width: 100%;
                //background: greenyellow;
                padding: 5px;
                .contFigures_box1_img{
                    width: 100%;
                    height: 100%;
                    //background: orange;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px orange ;
                    border:3px solid orange;
                    overflow: hidden;
                }
                .contFigures_box1_name{
                    margin-top: 20px;
                    text-align: center;
                    color: rgb(7, 224, 7);
                    font-weight: bold;
                    line-height: 28px;
                    font-size: 25px;
    
                }
            }   
        }
    
        .contFigures_box2{
            width: 65%;
            padding: 10px;
            //height: 100px;
            //background: rgba(37, 80, 150, 0.301);
            .content_box2_card{    //esta es la base template
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            .contFigures_box2_card{
                width: 180px;
                height: 250px;
                background: rgba(9, 8, 54, 0.671);
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 10px;
                transition: 0.3s all;
                .contFigures_box2_card_img{
                    width: 100%;
                    height: 210px;
                    //background: hotpink;
                }
                .contFigures_box2_card_name{
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgb(7, 224, 7);
                }
            }
            .contFigures_box2_card:hover{
                transform: scale(1.05,1.05);
                box-shadow: 0px 0px 10px orange;
                
            }
        }
    }
}





@media (min-width:770px) and (max-width:1024px) {
    .contFigures{
        width: 100%;
        //height: 300px;
        padding: 10px;
        background: $color-primario;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        transition: 0.5s all;
    
        .contFigures_box1{
            width: 35%;
            height: auto;
            padding: 10px;
            //background: rgba(255, 0, 255, 0.699);
            .baseFigura{
                width: 100%;
                //background: greenyellow;
                padding: 5px;
                .contFigures_box1_img{
                    width: 100%;
                    height: 500px;
                    //background: orange;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px orange ;
                    border:3px solid orange;
                    overflow: hidden;
                }
                .contFigures_box1_name{
                    margin-top: 20px;
                    text-align: center;
                    color: rgb(7, 224, 7);
                    font-weight: bold;
                    line-height: 28px;
                    font-size: 25px;
    
                }
            }   
        }
    
        .contFigures_box2{
            width:65%;
            padding: 10px;
            //height: 100px;
            //@at-root: rgba(37, 80, 150, 0.301);
            .content_box2_card{    //esta es la base template
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            .contFigures_box2_card{
                width: 180px;
                height: 250px;
                background: rgba(9, 8, 54, 0.671);
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 10px;
                transition: 0.3s all;
                .contFigures_box2_card_img{
                    width: 100%;
                    height: 210px;
                    //background: hotpink;
                }
                .contFigures_box2_card_name{
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgb(7, 224, 7);
                }
            }
            .contFigures_box2_card:hover{
                transform: scale(1.05,1.05);
                box-shadow: 0px 0px 10px orange;
                
            }
        }
    }
}





@media (min-width:320px) and (max-width:769px) {
    .contFigures{
        width: 100%;
        //height: 300px;
        padding: 10px;
        //background:green;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        transition: 0.5s all;
    
        .contFigures_box1{
            width:95%;
            margin: auto;
            height:auto;
            padding: 10px;
            //background: rgba(255, 0, 255, 0.699);
            display: none;
            .baseFigura{
                width: 100%;
                height: 100%;
                //background: greenyellow;
                padding: 5px;
                .contFigures_box1_img{
                    width: 100%;
                    height: 400px;
                    //background: orange;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px orange ;
                    border:3px solid orange;
                    overflow: hidden;
                }
                .contFigures_box1_name{
                    margin-top: 20px;
                    text-align: center;
                    color: rgb(7, 224, 7);
                    font-weight: bold;
                    line-height: 28px;
                    font-size: 25px;
    
                }
            }   
        }
    
        .contFigures_box2{
            width:95%;
            padding: 10px;
            margin: auto;
            //height: 100px;
            //@at-root: rgba(37, 80, 150, 0.301);
            .content_box2_card{    //esta es la base template
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            .contFigures_box2_card{
                width: 180px;
                height: 250px;
                background: rgba(9, 8, 54, 0.671);
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 10px;
                transition: 0.3s all;
                .contFigures_box2_card_img{
                    width: 100%;
                    height: 210px;
                    //background: hotpink;
                }
                .contFigures_box2_card_name{
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgb(7, 224, 7);
                }
            }
            .contFigures_box2_card:hover{
                transform: scale(1.05,1.05);
                box-shadow: 0px 0px 10px orange;
                
            }
        }
    }
}





@media (min-width:320px) and (max-width:480px) {
    .contFigures{
        width: 100%;
        //height: 300px;
        padding: 10px;
        //background:green;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        transition: 0.5s all;
    
        .contFigures_box1{
            width:95%;
            margin: auto;
            height:auto;
            padding: 10px;
            //background: rgba(255, 0, 255, 0.699);
            display: none;
            .baseFigura{
                width: 100%;
                height: 100%;
                //background: greenyellow;
                padding: 5px;
                .contFigures_box1_img{
                    width: 100%;
                    height: 400px;
                    //background: orange;
                    border-radius: 10px;
                    box-shadow: 0px 0px 20px orange ;
                    border:3px solid orange;
                    overflow: hidden;
                }
                .contFigures_box1_name{
                    margin-top: 20px;
                    text-align: center;
                    color: rgb(7, 224, 7);
                    font-weight: bold;
                    line-height: 28px;
                    font-size: 25px;
    
                }
            }   
        }
    
        .contFigures_box2{
            width:100%;
            padding: 10px;
            margin: auto;
            //background: green;
            //height: 100px;
            //@at-root: rgba(37, 80, 150, 0.301);
            .content_box2_card{    //esta es la base template
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                //background: red;
            }
            .contFigures_box2_card{
                width: 90%;
                height: 430px;
                background: rgb(19, 18, 54);
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 15px;
                transition: 0.3s all;
                .contFigures_box2_card_img{
                    width: 100%;
                    height: 380px;
                    //background: hotpink;
                }
                .contFigures_box2_card_name{
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgb(7, 224, 7);
                }
            }
            .contFigures_box2_card:hover{
                transform: scale(1.05,1.05);
                box-shadow: 0px 0px 10px orange;
                
            }
        }
    }
}