.contFooter{
    width: 100%;
    padding: 30px 10px;
    background:rgb(25, 25, 25);
    .contFooter_text{
        text-align: center;
        font-size: 14px;
        color: white;
        font-weight: 100;
        .spanText{
            color: yellow;
        }
    }
}
