@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=League+Gothic&family=Roboto+Condensed:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #2580cf;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
}

.CONTAINER_BASE {
  width: 100%;
  max-width: 1300px;
  background: #161616;
  margin: auto;
  display: flex;
  justify-content: center;
  transition: 0.5s all;
}
.CONTAINER_BASE.CONTAINER_BASE_JS {
  background: white;
}
.CONTAINER_BASE .CONTAINER {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "HEADER     HEADER     HEADER     HEADER" "BAR        BAR        BAR        BAR" "FIGURES    FIGURES    FIGURES    FIGURES" "BOX1       BOX1       BOX1       BOX2";
}
.CONTAINER_BASE .CONTAINER .HEADER {
  padding: 5px 0px;
  background: #161616;
  grid-area: HEADER;
}
.CONTAINER_BASE .CONTAINER .BAR {
  grid-area: BAR;
}
.CONTAINER_BASE .CONTAINER .FIGURES {
  grid-area: FIGURES;
}
.CONTAINER_BASE .CONTAINER .BOX1 {
  grid-area: BOX1;
}
.CONTAINER_BASE .CONTAINER .BOX2 {
  grid-area: BOX2;
}

/******************************************************************
/******************************************************************/
@media (min-width: 1025px) and (max-width: 1200px) {
  .CONTAINER_BASE {
    /*background:$color-primario;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    transition: 0.5s all;*/
  }
  .CONTAINER_BASE .CONTAINER {
    width: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "HEADER     HEADER     HEADER     HEADER" "BAR        BAR        BAR        BAR" "FIGURES    FIGURES    FIGURES    FIGURES" "BOX1       BOX1       BOX1       BOX2";
  }
}
/******************************************************************
/******************************************************************/
@media (min-width: 770px) and (max-width: 1024px) {
  .CONTAINER_BASE {
    /*background:$color-primario;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    transition: 0.5s all;*/
  }
  .CONTAINER_BASE .CONTAINER {
    width: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "HEADER     HEADER     HEADER     HEADER" "BAR        BAR        BAR        BAR" "FIGURES    FIGURES    FIGURES    FIGURES" "BOX1       BOX1       BOX1       BOX1" "BOX2       BOX2       BOX2       BOX2";
  }
}
/******************************************************************
/******************************************************************/
@media (min-width: 641px) and (max-width: 769px) {
  .CONTAINER_BASE .CONTAINER {
    width: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "HEADER     HEADER     HEADER     HEADER" "BAR        BAR        BAR        BAR" "FIGURES    FIGURES    FIGURES    FIGURES" "BOX1       BOX1       BOX1       BOX1" "BOX2       BOX2       BOX2       BOX2";
  }
}
/******************************************************************
/******************************************************************/
@media (min-width: 481px) and (max-width: 640px) {
  .CONTAINER_BASE .CONTAINER {
    width: 100%;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "HEADER     HEADER     HEADER     HEADER" "BAR        BAR        BAR        BAR" "FIGURES    FIGURES    FIGURES    FIGURES" "BOX1       BOX1       BOX1       BOX1" "BOX2       BOX2       BOX2       BOX2";
  }
}
/******************************************************************
/******************************************************************/
@media (min-width: 320px) and (max-width: 480px) {
  .CONTAINER_BASE .CONTAINER {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "HEADER     HEADER     HEADER     HEADER" "BAR        BAR        BAR        BAR" "FIGURES    FIGURES    FIGURES    FIGURES" "BOX1       BOX1       BOX1       BOX1" "BOX2       BOX2       BOX2       BOX2";
  }
}
.contHeader {
  width: 100%;
  padding: 80px 0px;
}
.contHeader .contHeader_title {
  text-align: center;
  font-weight: 800;
  font-style: italic;
  color: #fbff04;
  font-size: 60px;
}
.contHeader .contHeader_subtitle {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: white;
  font-size: 30px;
}
.contHeader .contHeader_btnResponsive {
  width: 50px;
  height: 50px;
  background: #8ac00b;
  display: none;
}
.contHeader .contHeader_ul {
  width: 700px;
  padding: 10px 0px;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.contHeader .contHeader_ul .logo {
  width: 85px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../images/disney.jpg);
  background-size: 100% 100%;
  border: 2px solid white;
  box-shadow: 0px 0px 100px blue;
}
.contHeader .contHeader_ul .contHeader_ul_li {
  width: 100px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}
.contHeader .contHeader_ul .contHeader_ul_li .contHeader_ul_li_a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.contHeader .contHeader_ul .btnClose {
  width: 20px;
  height: 20px;
  display: none;
}
.contHeader .contHeader_ul .btnClose .iconClose {
  color: yellow;
  font-size: 35px;
  cursor: pointer;
}
.contHeader .contHeader_ul .contHeader_ul_li:hover {
  width: 100px;
  height: 40px;
  background: #000ed1;
  border: 1px solid white;
  border-radius: 50%;
}
.contHeader .contHeader_ul .contHeader_ul_li:hover .contHeader_ul_li_a {
  color: #d2e716;
}

@media (max-width: 1025px) and (min-width: 1200px) {
  .contHeader {
    width: 100%;
    padding: 80px 0px;
  }
  .contHeader .contHeader_title {
    text-align: center;
    font-weight: 800;
    font-style: italic;
    color: #fbff04;
    font-size: 60px;
  }
  .contHeader .contHeader_subtitle {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: white;
    font-size: 30px;
  }
  .contHeader .contHeader_btnResponsive {
    width: 50px;
    height: 50px;
    background: #8ac00b;
    display: none;
  }
  .contHeader .contHeader_ul {
    width: 700px;
    padding: 10px 0px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .contHeader .contHeader_ul .logo {
    width: 85px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../images/disney.jpg);
    background-size: 100% 100%;
    border: 2px solid white;
    box-shadow: 0px 0px 100px blue;
  }
  .contHeader .contHeader_ul .contHeader_ul_li {
    width: 100px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
  }
  .contHeader .contHeader_ul .contHeader_ul_li .contHeader_ul_li_a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .contHeader .contHeader_ul .contHeader_ul_li:hover {
    width: 100px;
    height: 40px;
    background: #000ed1;
    border: 1px solid white;
    border-radius: 50%;
  }
  .contHeader .contHeader_ul .contHeader_ul_li:hover .contHeader_ul_li_a {
    color: #d2e716;
  }
  .contHeader .contHeader_ul .btnClose {
    width: 20px;
    height: 20px;
    display: none;
  }
  .contHeader .contHeader_ul .btnClose .iconClose {
    color: yellow;
    font-size: 35px;
    cursor: pointer;
  }
}
@media (min-width: 320px) and (max-width: 769px) {
  .contHeader {
    width: 100%;
    padding: 30px 0px;
    background-color: #161616;
    position: relative;
  }
  .contHeader .contHeader_title {
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    color: #fbff04;
    font-size: 50px;
  }
  .contHeader .contHeader_subtitle {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .contHeader .contHeader_btnResponsive {
    width: 70px;
    height: 50px;
    margin: auto;
    background: #8ac00b;
    display: block;
    background-image: url(../images/disney.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px blue;
    cursor: pointer;
  }
  .contHeader .contHeader_ul {
    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    height: 250px;
    padding: 10px 0px;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.842);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: 0.5s all;
  }
  .contHeader .contHeader_ul .logo {
    width: 85px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../images/disney.jpg);
    background-size: 100% 100%;
    border: 2px solid white;
    box-shadow: 0px 0px 100px blue;
    display: none;
  }
  .contHeader .contHeader_ul .contHeader_ul_li {
    width: 100px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
  }
  .contHeader .contHeader_ul .contHeader_ul_li .contHeader_ul_li_a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .contHeader .contHeader_ul .contHeader_ul_li:hover {
    width: 100px;
    height: 40px;
    background: #000ed1;
    border: 1px solid white;
    border-radius: 50%;
  }
  .contHeader .contHeader_ul .contHeader_ul_li:hover .contHeader_ul_li_a {
    color: #d2e716;
  }
  .contHeader .contHeader_ul .btnClose {
    width: 20px;
    height: 20px;
    display: block;
  }
  .contHeader .contHeader_ul .btnClose .iconClose {
    color: yellow;
    font-size: 35px;
    cursor: pointer;
  }
  .contHeader .contHeader_ul_JS {
    top: -30px;
  }
}
.contBar {
  width: 100%;
  height: 80px;
  background: #161616;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all;
}
.contBar.dark_JS {
  background: white;
}
.contBar.dark_JS .contBar_text {
  color: black;
}
.contBar .contBar_text {
  font-weight: 400;
  font-style: italic;
  margin-left: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.contBar .contBar_icons {
  margin-right: 10px;
  background: #383838;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.contBar .contBar_icons::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px #1f1e1e;
}
.contBar .contBar_icons.active {
  background: orange;
  color: black;
}
.contBar .contBar_icons.active::after {
  right: 0;
  left: unset;
}
.contBar .contBar_icons span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}
.contBar .contBar_icons span .contBar_icons_i {
  color: black;
  font-size: 18px;
}

.contFigures {
  width: 100%;
  padding: 10px;
  background: #161616;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.5s all;
}
.contFigures.contFigures_JS {
  background: white;
}
.contFigures.contFigures_JS .contFigures_box1 .baseFigura .contFigures_box1_img {
  box-shadow: 0px 0px 20px #202020;
  border: none;
}
.contFigures.contFigures_JS .contFigures_box1 .baseFigura .contFigures_box1_name {
  color: orange;
}
.contFigures.contFigures_JS .contFigures_box2 .contFigures_box2_card {
  background: #141236;
}
.contFigures.contFigures_JS .contFigures_box2 .contFigures_box2_card:hover {
  background: #1f1f1f;
  box-shadow: 0px 0px 10px black;
}
.contFigures .contFigures_box1 {
  width: 300px;
  height: 400px;
  padding: 10px;
}
.contFigures .contFigures_box1 .baseFigura {
  width: 100%;
  padding: 5px;
}
.contFigures .contFigures_box1 .baseFigura .contFigures_box1_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px orange;
  border: 3px solid orange;
  overflow: hidden;
}
.contFigures .contFigures_box1 .baseFigura .contFigures_box1_name {
  margin-top: 20px;
  text-align: center;
  color: #07e007;
  font-weight: bold;
  line-height: 28px;
}
.contFigures .contFigures_box1 .baseTitle {
  margin-top: 5px;
  color: orange;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
.contFigures .contFigures_box1 .baseDowloads {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contFigures .contFigures_box1 .baseDowloads .btnDescMedia {
  width: 80px;
  height: 30px;
  background-image: url(../images/mediafire.png);
  background-size: 100% 100%;
}
.contFigures .contFigures_box1 .baseDowloads .btnDescMega {
  width: 80px;
  height: 30px;
  background-image: url(../images/mega.png);
  background-size: 100% 100%;
}
.contFigures .contFigures_box2 {
  width: 72%;
  padding: 10px;
}
.contFigures .contFigures_box2 .content_box2_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contFigures .contFigures_box2 .contFigures_box2_card {
  width: 180px;
  height: 250px;
  background: rgba(9, 8, 54, 0.671);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.3s all;
}
.contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_img {
  width: 100%;
  height: 210px;
}
.contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_name {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #07e007;
}
.contFigures .contFigures_box2 .contFigures_box2_card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 0px 10px orange;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .contFigures {
    width: 100%;
    padding: 10px;
    background: #161616;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.5s all;
  }
  .contFigures .contFigures_box1 {
    width: 320px;
    height: auto;
    padding: 10px;
  }
  .contFigures .contFigures_box1 .baseFigura {
    width: 100%;
    padding: 5px;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px orange;
    border: 3px solid orange;
    overflow: hidden;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_name {
    margin-top: 20px;
    text-align: center;
    color: #07e007;
    font-weight: bold;
    line-height: 28px;
    font-size: 25px;
  }
  .contFigures .contFigures_box2 {
    width: 65%;
    padding: 10px;
  }
  .contFigures .contFigures_box2 .content_box2_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card {
    width: 180px;
    height: 250px;
    background: rgba(9, 8, 54, 0.671);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.3s all;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_img {
    width: 100%;
    height: 210px;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_name {
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #07e007;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 10px orange;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  .contFigures {
    width: 100%;
    padding: 10px;
    background: #161616;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.5s all;
  }
  .contFigures .contFigures_box1 {
    width: 35%;
    height: auto;
    padding: 10px;
  }
  .contFigures .contFigures_box1 .baseFigura {
    width: 100%;
    padding: 5px;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px orange;
    border: 3px solid orange;
    overflow: hidden;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_name {
    margin-top: 20px;
    text-align: center;
    color: #07e007;
    font-weight: bold;
    line-height: 28px;
    font-size: 25px;
  }
  .contFigures .contFigures_box2 {
    width: 65%;
    padding: 10px;
  }
  .contFigures .contFigures_box2 .content_box2_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card {
    width: 180px;
    height: 250px;
    background: rgba(9, 8, 54, 0.671);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.3s all;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_img {
    width: 100%;
    height: 210px;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_name {
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #07e007;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 10px orange;
  }
}
@media (min-width: 320px) and (max-width: 769px) {
  .contFigures {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.5s all;
  }
  .contFigures .contFigures_box1 {
    width: 95%;
    margin: auto;
    height: auto;
    padding: 10px;
    display: none;
  }
  .contFigures .contFigures_box1 .baseFigura {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px orange;
    border: 3px solid orange;
    overflow: hidden;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_name {
    margin-top: 20px;
    text-align: center;
    color: #07e007;
    font-weight: bold;
    line-height: 28px;
    font-size: 25px;
  }
  .contFigures .contFigures_box2 {
    width: 95%;
    padding: 10px;
    margin: auto;
  }
  .contFigures .contFigures_box2 .content_box2_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card {
    width: 180px;
    height: 250px;
    background: rgba(9, 8, 54, 0.671);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.3s all;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_img {
    width: 100%;
    height: 210px;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_name {
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #07e007;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 10px orange;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contFigures {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.5s all;
  }
  .contFigures .contFigures_box1 {
    width: 95%;
    margin: auto;
    height: auto;
    padding: 10px;
    display: none;
  }
  .contFigures .contFigures_box1 .baseFigura {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px orange;
    border: 3px solid orange;
    overflow: hidden;
  }
  .contFigures .contFigures_box1 .baseFigura .contFigures_box1_name {
    margin-top: 20px;
    text-align: center;
    color: #07e007;
    font-weight: bold;
    line-height: 28px;
    font-size: 25px;
  }
  .contFigures .contFigures_box2 {
    width: 100%;
    padding: 10px;
    margin: auto;
  }
  .contFigures .contFigures_box2 .content_box2_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card {
    width: 90%;
    height: 430px;
    background: #131236;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    transition: 0.3s all;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_img {
    width: 100%;
    height: 380px;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card .contFigures_box2_card_name {
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #07e007;
  }
  .contFigures .contFigures_box2 .contFigures_box2_card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 10px orange;
  }
}
.contBox1 {
  width: 100%;
  background: #161616;
  padding: 10px;
  transition: 0.5s all;
}
.contBox1.contBox1_JS {
  background: white;
}
.contBox1.contBox1_JS .contBox1_title {
  color: black;
}
.contBox1.contBox1_JS .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description .contGrilla_description_title {
  color: #ff7300;
  font-weight: bold;
}
.contBox1.contBox1_JS .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description .contGrilla_description_text {
  color: #333333;
}
.contBox1.contBox1_JS .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description .contGrilla_description_title {
  color: #ff7300;
  font-weight: bold;
}
.contBox1.contBox1_JS .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description .contGrilla_description_text {
  color: #333333;
}
.contBox1.contBox1_JS .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description .contGrilla_description_title {
  color: #ff7300;
  font-weight: bold;
}
.contBox1.contBox1_JS .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description .contGrilla_description_text {
  color: #333333;
}
.contBox1 .contBox1_title {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.contBox1 .contBox1_block {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px;
}
.contBox1 .contBox1_block .CONT_GRILLA {
  width: 100%;
  padding: 10px 0px;
  display: grid;
  gap: 3px;
  grid-template-columns: 150px repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "CONT_GRILLA_1A    CONT_GRILLA_1B     CONT_GRILLA_1B   CONT_GRILLA_1B" "CONT_GRILLA_2A    CONT_GRILLA_2B     CONT_GRILLA_2B   CONT_GRILLA_2B" "CONT_GRILLA_3A    CONT_GRILLA_3B     CONT_GRILLA_3B   CONT_GRILLA_3B";
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1A {
  padding: 5px 0px;
  grid-area: CONT_GRILLA_1A;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1A .contGrilla_image {
  width: 80%;
  height: 130px;
  margin: auto;
  background: orangered;
  border-radius: 5px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B {
  padding: 5px 0px;
  grid-area: CONT_GRILLA_1B;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description {
  width: 100%;
  padding: 5px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description .contGrilla_description_title {
  font-weight: 400;
  font-size: 20px;
  color: orange;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description .contGrilla_description_text {
  margin-top: 10px;
  color: aliceblue;
  font-weight: 400;
  font-size: 18px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2A {
  padding: 5px 0px;
  grid-area: CONT_GRILLA_2A;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2A .contGrilla_image {
  width: 80%;
  height: 130px;
  margin: auto;
  background: orangered;
  border-radius: 5px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B {
  padding: 5px 0px;
  grid-area: CONT_GRILLA_2B;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description {
  width: 100%;
  padding: 5px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description .contGrilla_description_title {
  font-weight: 400;
  font-size: 20px;
  color: orange;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description .contGrilla_description_text {
  color: aliceblue;
  font-weight: 400;
  font-size: 18px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3A {
  padding: 5px 0px;
  grid-area: CONT_GRILLA_3A;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3A .contGrilla_image {
  width: 80%;
  height: 130px;
  margin: auto;
  background: orangered;
  border-radius: 5px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B {
  padding: 5px 0px;
  grid-area: CONT_GRILLA_3B;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description {
  width: 100%;
  padding: 5px;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description .contGrilla_description_title {
  font-weight: 400;
  font-size: 20px;
  color: orange;
}
.contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description .contGrilla_description_text {
  color: aliceblue;
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .contBox1 {
    width: 100%;
    background: #161616;
    padding: 10px;
    transition: 0.5s all;
  }
  .contBox1 .contBox1_title {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .contBox1 .contBox1_block {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA {
    width: 100%;
    padding: 10px 0px;
    display: grid;
    gap: 3px;
    grid-template-columns: 150px repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "CONT_GRILLA_1B    CONT_GRILLA_1B     CONT_GRILLA_1B   CONT_GRILLA_1B" "CONT_GRILLA_1A    CONT_GRILLA_1A     CONT_GRILLA_1A   CONT_GRILLA_1A" "CONT_GRILLA_2B    CONT_GRILLA_2B     CONT_GRILLA_2B   CONT_GRILLA_2B" "CONT_GRILLA_2A    CONT_GRILLA_2A     CONT_GRILLA_2A   CONT_GRILLA_2A" "CONT_GRILLA_3B    CONT_GRILLA_3B     CONT_GRILLA_3B   CONT_GRILLA_3B" "CONT_GRILLA_3A    CONT_GRILLA_3A     CONT_GRILLA_3A   CONT_GRILLA_3A";
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1A {
    padding: 5px 0px;
    grid-area: CONT_GRILLA_1A;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1A .contGrilla_image {
    width: 80%;
    height: 250px;
    margin: auto;
    background: orangered;
    border-radius: 5px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B {
    padding: 5px 0px;
    grid-area: CONT_GRILLA_1B;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description {
    width: 100%;
    padding: 5px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description .contGrilla_description_title {
    font-weight: 400;
    font-size: 20px;
    color: orange;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_1B .contGrilla_description .contGrilla_description_text {
    margin-top: 10px;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2A {
    padding: 5px 0px;
    grid-area: CONT_GRILLA_2A;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2A .contGrilla_image {
    width: 80%;
    height: 250px;
    margin: auto;
    background: orangered;
    border-radius: 5px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B {
    padding: 5px 0px;
    grid-area: CONT_GRILLA_2B;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description {
    width: 100%;
    padding: 5px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description .contGrilla_description_title {
    font-weight: 400;
    font-size: 20px;
    color: orange;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_2B .contGrilla_description .contGrilla_description_text {
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3A {
    padding: 5px 0px;
    grid-area: CONT_GRILLA_3A;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3A .contGrilla_image {
    width: 80%;
    height: 250px;
    margin: auto;
    background: orangered;
    border-radius: 5px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B {
    padding: 5px 0px;
    grid-area: CONT_GRILLA_3B;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description {
    width: 100%;
    padding: 5px;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description .contGrilla_description_title {
    font-weight: 400;
    font-size: 20px;
    color: orange;
  }
  .contBox1 .contBox1_block .CONT_GRILLA .CONT_GRILLA_3B .contGrilla_description .contGrilla_description_text {
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
  }
}
.contBox2 {
  width: 100%;
  height: 100%;
  background: #161616;
  padding: 10px;
  transition: 0.5s all;
}
.contBox2.contBox2_JS {
  background: white;
}
.contBox2.contBox2_JS .contBox2_title {
  color: orange;
}
.contBox2.contBox2_JS .contBox2_parrafo {
  color: #313131;
}
.contBox2.contBox2_JS .contBox2_awards .contBox2_awards_text {
  color: grey;
}
.contBox2.contBox2_JS .contBox2_connect .contBox2_connect_box {
  color: grey;
}
.contBox2.contBox2_JS .contBox2_connect .contBox2_connect_box .contBox2_connect_box_block .icons_contbox {
  color: grey;
}
.contBox2 .contBox2_title {
  font-weight: 400;
  font-size: 30px;
  color: aliceblue;
  font-style: italic;
  font-weight: bold;
}
.contBox2 .contBox2_parrafo {
  margin-top: 10px;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
}
.contBox2 .contBox2_parrafo .contBox2_parrafo_text {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: orange;
  position: absolute;
  bottom: -20px;
  right: 10px;
}
.contBox2 .contBox2_awards {
  margin-top: 40px;
  width: 100%;
  padding: 10px 0px;
  font-weight: bold;
}
.contBox2 .contBox2_awards .contBox2_awards_title {
  color: orange;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
.contBox2 .contBox2_awards .contBox2_awards_text {
  color: white;
  font-weight: 400;
  font-style: normal;
}
.contBox2 .contBox2_connect {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px;
}
.contBox2 .contBox2_connect .contBox2_connect_title {
  color: orange;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
.contBox2 .contBox2_connect .contBox2_connect_box {
  margin-top: 5px;
  width: 100px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contBox2 .contBox2_connect .contBox2_connect_box .contBox2_connect_box_block {
  width: 30px;
  height: 30px;
}
.contBox2 .contBox2_connect .contBox2_connect_box .contBox2_connect_box_block .icons_contbox {
  color: white;
  font-size: 25px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */